<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            name="Graph Databases"
            icon="icons/obj16/graphdbview.gif"
            class="org.slizaa.neo4j.dbadapter.ui.GraphDatabasesView"
            restorable="true"
            id="org.slizaa.neo4j.restclient.ui.GraphDatabasesView">
      </e4view>
   </extension>

</plugin>
