<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.slizaa.org/neo4j/dbadapter/dsl/DbAdapterDsl"
			class = "org.slizaa.neo4j.dbadapter.dsl.dbAdapterDsl.DbAdapterDslPackage"
			genModel = "model/generated/DbAdapterDsl.genmodel" />
	</extension>
</plugin>
