<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated selection -->
      <package
            uri="http://org/slizaa/hierarchicalgraph/selection"
            class="org.slizaa.hierarchicalgraph.selection.SelectionPackage"
            genModel="model/selection.genmodel"/>
   </extension>

</plugin>
