<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.slizaa.ui.common.slizaanature"
         point="org.eclipse.core.resources.natures"
         name="slizaa Nature">
      <runtime>
         <run
               class="org.slizaa.ui.common.SlizaaProjectNature">
         </run>
      </runtime>
   </extension>
   
   	<!-- New slizaa project -->
	<extension id="org.bundlemaker.core.ui.newWizards" name="slizaa Wizards"
		point="org.eclipse.ui.newWizards">
		<category id="org.slizaa.ui.wizards.category" name="slizaa"> </category>
		<wizard
        id="org.slizaa.ui.wizards.newprojectwizard"
        canFinishEarly="false"
        category="org.slizaa.ui.wizards.category"
        class="org.slizaa.ui.common.internal.wizard.NewSlizaaProjectWizard"
        hasPages="true"
        name="slizaa project"
        project="true">
			<description> Create a slizaa project </description>
		</wizard>
	</extension>
   
</plugin>
