<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension id="product_test" point="org.eclipse.core.runtime.products">
  <product application="test.rcp.application" name="My Product">
    <property name="appName" value="My Product"> </property>
    <property name="applicationXMI" value="test.rcp/Application.e4xmi"> </property>
  </product>
</extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="test.rcp.Application">
         </run>
      </application>
   </extension>

<extension point="org.eclipse.ui.activities">  
   <activity id="menuHidingActivity" name="MenuHidingActivity">  
      <enabledWhen>  
         <with variable="activePartId">    
            <equals value="nonExistentPartId"></equals>      
         </with>
      </enabledWhen>
   </activity>
   <activityPatternBinding activityId="menuHidingActivity" pattern="org.eclipse.ui.edit.text.gotoLastEditPosition" />
   <activityPatternBinding activityId="menuHidingActivity" pattern="org.eclipse.ui.navigate.next" />  
   <activityPatternBinding activityId="menuHidingActivity" pattern="org.eclipse.ui.navigate.previous" />  

	<activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.team\.ui/org.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.team\.ui/nonbound\.org.*">
      </activityPatternBinding> 
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.compare/compareWithPatch">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.compare/compareWithHistory">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.compare/compareWithEachOther">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.compare/addFromHistoryAction">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.compare/replaceFromHistory">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.compare/replaceWithPreviousFromHistory">
      </activityPatternBinding>           
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.team\.cvs\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org\.eclipse\.team\.cvs\.core/.*cvsnature">
      </activityPatternBinding>
   </extension>
</plugin>
