<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="slizaa4jqassistant"
         name="Slizaa powered by jQAssistant"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Slizaa powered by jQAssistant"
            name="Slizaa">
         <property
               name="appName"
               value="Slizaa">
         </property>
         <property
               name="aboutImage"
               value="icons/app32.png">
         </property>
         <property
               name="aboutText"
               value="WAHNSINN WAS ALLES GEHT">
         </property>
         <property
               name="windowImages"
               value="icons/app16.png,icons/app32.png,icons/app48.png,icons/app64.png,icons/app128.png,icons/app256.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
