<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="slizaa4jqassistant"
         name="Slizaa powered by jQAssistant"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Slizaa powered by jQAssistant"
            name="Slizaa">
         <property
               name="appName"
               value="Slizaa">
         </property>
         <property
               name="aboutImage"
               value="icons/app32.png">
         </property>
         <property
               name="aboutText"
               value="WAHNSINN WAS ALLES GEHT">
         </property>
         <property
               name="windowImages"
               value="icons/app16.png,icons/app32.png,icons/app48.png,icons/app64.png,icons/app128.png,icons/app256.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.slizaa.jqassistant.product/css/default.css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_advext_activities.htm  -->
   <extension point="org.eclipse.ui.activities">  
      <activity id="menuHidingActivity" name="MenuHidingActivity">  
         <enabledWhen>  
            <with variable="activePartId">    
               <equals value="nonExistentPartId"></equals>      
            </with>
         </enabledWhen>
      </activity>
      
      <!-- -->
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org.eclipse.debug.ui/.*">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org.eclipse.team.ui/.*">
      </activityPatternBinding>      
      <activityPatternBinding
            activityId="menuHidingActivity"
            pattern="org.eclipse.ui.externaltools/.*">
      </activityPatternBinding>  
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <!-- <hiddenMenuItem
               id="viewsShortlist">
         </hiddenMenuItem> -->
      </perspectiveExtension>
   </extension>   
</plugin>
