<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hierarchicalgraph-neo4j-mapping -->
      <package
            uri="http://org/slizaa/neo4j/hierarchicalgraph/mapping"
            class="org.slizaa.neo4j.hierarchicalgraph.mapping.Neo4jHierarchicalGraphMappingPackage"
            genModel="model/hierarchicalgraph-neo4j-mapping.genmodel"/>
   </extension>

</plugin>
