<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated neo4j-restclient -->
      <package
            uri="http://org/slizaa/neo4j/restclient"
            class="org.slizaa.neo4j.restclient.Neo4jRestClientPackage"
            genModel="model/neo4j-restclient.genmodel"/>
   </extension>

</plugin>
