<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="org.slizaa.neo4j.hierarchicalgraph.ui.HierarchicalGraphViewPart"
            icon="icons/HGRootNode.gif"
            id="org.slizaa.neo4j.hierarchicalgraph.ui.HierarchicalGraphViewPart"
            name="Models"
            restorable="true">
      </e4view>
   </extension>
   
   	<!--  -->
	<extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.emf.ecore.EObject" class="org.slizaa.neo4j.hierarchicalgraph.ui.internal.EMFPropertySourceProviderAdapter">
         <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider" />
      </factory>
	</extension>	

</plugin>
