<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workbench-model -->
      <package
            uri="http://org/slizaa/workbench/model"
            class="org.slizaa.workbench.model.ModelPackage"
            genModel="model/workbench-model.genmodel"/>
   </extension>

</plugin>
