<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated neo4j-dbadapter -->
      <package
            uri="http://org/slizaa/neo4j/dbadapter"
            class="org.slizaa.neo4j.dbadapter.DbAdapterPackage"
            genModel="model/neo4j-dbadapter.genmodel"/>
   </extension>

</plugin>
