<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated neo4j-hierarchicalgraph -->
      <package
            uri="http://org/slizaa/neo4j/hierarchicalgraph"
            class="org.slizaa.neo4j.hierarchicalgraph.Neo4jHierarchicalgraphPackage"
            genModel="model/hierarchicalgraph-neo4j.genmodel"/>
   </extension>

</plugin>
